.DS_Store
.dart_tool/

.packages
.pub/
.idea/

build/

.flutter-plugins
.flutter-plugins-dependencies
*android/app/call_manager_key.jks
android/key.properties
*.iml
/metrics
.vscode/launch.json
detective_connect.txt

*.patch
.vscode/launch.json
