<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053316160376-117rp70a5ps0s6nk98th54trgsacoaim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053316160376-117rp70a5ps0s6nk98th54trgsacoaim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053316160376-5juugktuaas98do08thao9iplqmr5fn9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHw5ZUSRFFr506s5tDwjRBXNVauqsZ854</string>
	<key>GCM_SENDER_ID</key>
	<string>1053316160376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.groovinchip.callmanager</string>
	<key>PROJECT_ID</key>
	<string>call-manager-flutter-db</string>
	<key>STORAGE_BUCKET</key>
	<string>call-manager-flutter-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053316160376:ios:3f44ce63a1c0a5fba4868d</string>
	<key>DATABASE_URL</key>
	<string>https://call-manager-flutter-db.firebaseio.com</string>
</dict>
</plist>