name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: subosito/flutter-action@v1
    - uses: actions/checkout@v1
    - run: flutter pub get
    - run: flutter build apk --split-per-abi
